@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

:root {

  /* colors */

  --strong-cyan: rgb(13, 185, 148);
  --perylene-blue: rgb(18, 65, 145);
  --navy-blue: rgb(0, 17, 53);
  --white-smoke: rgb(232, 236, 238);

}

body {
  font-family: Manrope , sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
